/* styles.css */

.bg-custom {
  border: 2px solid #ede6e6;
  padding: 60px;
  border-radius: 40px;
  padding: 60px;
  border-radius: 40px;
}

.custom-width {
  width: 250px;
  font-size: 14px;
  color: #333;
}

.custom-sidebar-bg {
  width: 200px;
  background-color: #f0ede8;
  border-radius: 40px 0px 0px 40px;
}
